

*,
*::after,
*::before {
  margin: 0;
 
}


li {
  list-style: none;
}
a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.nav {
  background: linear-gradient(90deg, rgb(195, 185, 185) 0%, rgb(26, 23, 23) 100%);
  height: 80px;
  display: flex;
  align-content: space-between;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 999;
  
}


.nav-menu {
  display: flex;
  align-items: center;
 
  
  margin: 50px;
  gap: 2rem;
}
.nav-toggler {
  display: none
}
.nav-toggler div {
  width: 2.5rem;
  height: 0.2rem;
  margin: 0.4rem;
  background: rgb(255, 255, 255);
  transition: 0.3s ease-in;
  
  
}

@media screen and (max-width: 768px) {
  .nav-toggler {
    display: block;
    cursor: pointer;
    margin-left: 200px;
    
  }
  .nav-menu {
    position: fixed;
    z-index: 1;
    top: 34.5px;
    right: -5vh;
    height: 15vh;
    width:30vw;
    background: linear-gradient(90deg, rgb(195, 185, 185) 0%, rgb(26, 23, 23) 100%);
    flex-direction: column-reverse ;
    transform: translateX(100%);
    transition: 0.5s ease-in;
  }
}
/* Active Class */
.nav-active {
  transform: translateX(0%);
}

/* Toggle Icon Animation */

.toggle .line1 {
  transform: rotate(-45deg) translate(-4px, 5px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-4px, -5px);
}
  


  
.nav-logo {
  margin: 50px;
   height: 10vmin;
   float: left;
}
.nav-brand{
 margin: 50px;
}

  
  












